QLabel#lblError { color: #FF0000; }

QLineEdit[errorTag="true"] { border: 1px solid #FF0000; }
QLineEdit[errorTag="false"] { border: 1px solid #000000; }

QSplitter::handle:horizontal { width: 0px; }

QSplitter::handle:vertical { height: 0px; }

QComboBox#cbValueMode::drop-down { border-width: 0px; }
QComboBox#cbValueMode::down-arrow { image: none; border-width: 0px; }

QMenu { menu-scrollable: 1; }
