# Common settings
  TabWidth: 4
  IndentWidth: 4
  UseTab: AlignWithSpaces
  ColumnLimit: 208

#  ---
  Language: Cpp

  DisableFormat: false
  Standard: Latest

  AccessModifierOffset: -4

  AlignAfterOpenBracket: Align
  AlignArrayOfStructures: Right
  AlignConsecutiveAssignments: None
  AlignConsecutiveDeclarations: None
  AlignConsecutiveMacros: None
  AlignEscapedNewlines: Left
  AlignOperands: AlignAfterOperator
  AlignTrailingComments: false

  AllowAllArgumentsOnNextLine: false
  AllowAllConstructorInitializersOnNextLine: false
  AllowAllParametersOfDeclarationOnNextLine: false
  AllowShortBlocksOnASingleLine: Empty
  AllowShortCaseLabelsOnASingleLine: false
  AllowShortFunctionsOnASingleLine: None
  AllowShortIfStatementsOnASingleLine: Never
  AllowShortLambdasOnASingleLine: All
  AllowShortLoopsOnASingleLine: false
  AlwaysBreakAfterReturnType: None
  AlwaysBreakBeforeMultilineStrings: false
  AlwaysBreakTemplateDeclarations: Yes

  BinPackArguments: false
  BinPackParameters: false

  BreakAfterJavaFieldAnnotations: true
  BreakBeforeBinaryOperators: NonAssignment
  BreakBeforeInheritanceComma: false
  BreakBeforeTernaryOperators: true
  BreakConstructorInitializers: BeforeComma
  BreakInheritanceList: BeforeComma
  BreakStringLiterals: true 
  BreakBeforeBraces: Allman

  CommentPragmas: '^ IWYU pragma:'
  CompactNamespaces: true
  ConstructorInitializerAllOnOneLineOrOnePerLine: false
  ConstructorInitializerIndentWidth: 4
  ContinuationIndentWidth: 4
  Cpp11BracedListStyle: false
  DerivePointerAlignment: false
  EmptyLineAfterAccessModifier: Never
  EmptyLineBeforeAccessModifier: LogicalBlock
  ExperimentalAutoDetectBinPacking: false
  FixNamespaceComments: true
  ForEachMacros: [ foreach, Q_FOREACH, BOOST_FOREACH, KBFOREACH, KBEXTFOREACH ]

  IndentCaseLabels: true
  IndentWrappedFunctionNames: false

  InsertNewlineAtEOF: true
  InsertTrailingCommas: Wrapped

  JavaScriptQuotes: Double
  KeepEmptyLinesAtTheStartOfBlocks: false
  MacroBlockBegin: ''
  MacroBlockEnd: ''
  MaxEmptyLinesToKeep: 1
  NamespaceIndentation: None
  ObjCBlockIndentWidth: 4
  ObjCSpaceAfterProperty: true
  ObjCSpaceBeforeProtocolList: true

  PenaltyBreakBeforeFirstCallParameter: 19
  PenaltyBreakComment: 300
  PenaltyBreakFirstLessLess: 120
  PenaltyBreakString: 1000
  PenaltyExcessCharacter: 1000000
  PenaltyReturnTypeOnItsOwnLine: 60

  PointerAlignment: Left
  QualifierAlignment: Left
  RemoveSemicolon: true
  SeparateDefinitionBlocks: Always
  ShortNamespaceLines: 16
  SortIncludes: CaseSensitive
  SortUsingDeclarations: true

  SpaceAfterCStyleCast: false
  SpaceAfterLogicalNot: false
  SpaceAfterTemplateKeyword: true
  SpaceBeforeAssignmentOperators: true
  SpaceBeforeCaseColon: false
  SpaceBeforeCpp11BracedList: true
  SpaceBeforeInheritanceColon: true
  SpaceBeforeParens: ControlStatements
  SpaceBeforeRangeBasedForLoopColon: true
  SpaceInEmptyParentheses: false
  SpacesBeforeTrailingComments: 1
  SpacesInAngles: false
  SpacesInCStyleCastParentheses: false
  SpacesInContainerLiterals: true
  SpacesInParentheses: false
  SpacesInSquareBrackets: false

  # Comments are for developers, they should arrange them
  ReflowComments: false

  IncludeBlocks: Regroup
  IncludeCategories:
    - Regex: '^".*stdafx.h"$'
      Priority: -20

    # generated ui headers
    - Regex: '^"ui_.*\.h"$'
      Priority: -10

    # system headers
    - Regex: '^<[a-z]+.h>$'
      Priority: 40

    # system headers
    - Regex: '^"win\.h"$'
      Priority: 30

    # std headers
    - Regex: '^<[a-z_]+>$'
      CaseSensitive: true
      Priority: 50

    # Qt headers
    - Regex: '^<Q.*>$'
      CaseSensitive: true
      Priority: 110

    # Boost headers
    - Regex: '^<boost/.*>$'
      Priority: 120

    # Testing headers
    - Regex: '^<(gtest|gmock)/.*>$'
      Priority: 190

    # other sdk libraries
    - Regex: '^<[[:alnum:]]+/.*>$'
      Priority: 180

    # foundation headers
    - Regex: '^"fnd/.*"$'
      Priority: 210

    # database interface headers
    - Regex: '^"database/interface/.*"$'
      Priority: 220

    # interface headers
    - Regex: '^"interface/.*"$'
      Priority: 250

    # local headers
    - Regex: '^[^/]*$'
      Priority: 400

    # library export autogenerated file
    - Regex: '^"export/.*\.h"$'
      Priority: 500

    # library config autogenerated file
    - Regex: '^"config/.*\.h"$'
      Priority: 450

    # others headers
    - Regex: '^".*"$'
      Priority: 290

  IndentPPDirectives: BeforeHash
#  ---
