[submodule "src/ext/scripts"]
	path = src/ext/scripts
	url = ../scripts.git
[submodule "src/ext/MyHomeLib"]
	path = src/ext/MyHomeLib
	url = ../MyHomeLib.git
[submodule "src/ext/sqlite/sqlite3pp"]
	path = src/ext/sqlite/sqlite3pp
	url = ../sqlite3pp.git
[submodule "src/ext/sqlite/sqlite"]
	path = src/ext/sqlite/sqlite
	url = ../sqlite3.git
[submodule "src/ext/ReactApp"]
	path = src/ext/ReactApp
	url = ../ReactApp.git
[submodule "src/ext/Hypodermic"]
	path = src/ext/Hypodermic
	url = ../Hypodermic.git
[submodule "src/ext/foundation"]
	path = src/ext/foundation
	url = ../books-fnd.git
