[submodule "src/ext/scripts"]
	path = src/ext/scripts
	url = ../scripts.git
[submodule "src/ext/fmt"]
	path = src/ext/fmt
	url = ../fmt.git
[submodule "src/ext/MyHomeLib"]
	path = src/ext/MyHomeLib
	url = ../MyHomeLib.git
[submodule "src/ext/sqlite/sqlite3pp"]
	path = src/ext/sqlite/sqlite3pp
	url = ../sqlite3pp.git
[submodule "src/ext/sqlite/shell"]
	path = src/ext/sqlite/shell
	url = ../sqlite_shell.git
[submodule "src/ext/sqlite/sqlite"]
	path = src/ext/sqlite/sqlite
	url = ../sqlite3.git
[submodule "src/ext/SimpleSaxParser"]
	path = src/ext/SimpleSaxParser
	url = ../SimpleSaxParser.git
[submodule "src/ext/plog"]
	path = src/ext/plog
	url = ../plog.git
[submodule "src/ext/zlib"]
	path = src/ext/zlib
	url = ../zlib.git
[submodule "src/ext/quazip"]
	path = src/ext/quazip
	url = ../quazip.git
